.app {
    display: flex;
    background-color: black;
  }

  .router-view-container {
    margin: 100px 140px;
  }

  .default-logo {
    background-color: #493DF5;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
  }
  
  .sidebar {
    background: black;
    padding: 0px;
    height: 100vh;
    transition: width 0.3s;
    width: 60px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

      li {
        cursor: pointer;
        padding: 10px;
        margin-right: 5px;

        img {
          padding: 10px;
          width: 18px;
          height: 18px;
        }

        .default-logo {
          width: 40px;
          height: 28px;
          padding-top: 12px;
        }
      }
    }
  }

  .sidebar-content {
    background: white;
    width: 100%;
    border-radius: 15px;

    .header {
      display: flex;
      justify-content: flex-end;
      height: 64px;
      border-bottom: 1px solid #D0D2D6;
      .image-container {
        margin-right: 50px;
        img {
          margin-top: 25px;
        }
      }

      .user-menu {
        display: flex;
        justify-content: flex-end;

        img {
          height: 20px;
          margin-top: 22px;
          margin-right: 45px;
          margin-left: 10px;
        }

        p {
          font-size: 14px;
          margin-top: 23px;
        }

        .default-logo {
          width: 24px;
          height: 21px;
          margin: 20px 10px;
          padding-top: 3px;
        }
      }
    }
  }